// 列與列之間的間距
$gutter: 20px;

// 設定手機版的格子寬度，總共 4 格
@for $i from 1 through 4 {
  .col-sm-#{$i} {
    width: calc((100% - ($gutter * 3)) / 4 * $i + $gutter * ($i - 1));
  }
}
/*
    可在元素加上此類別，來限制元素的寬度
    .col-sm-1
    .col-sm-2
    .col-sm-3
    .col-sm-4
*/

// 設定桌機版的格子寬度 總共 12 格
// 寫在 media query 裡面保證它只會在某個寬度下作用
@include desktop{
  @for $i from 1 through 12 {
      .col-lg-#{$i} {
        width: calc((100% - ($gutter * 11)) / 12 * $i + $gutter * ($i - 1));
    }
  }
}


.container {
  $column-width: 60px; /* 設計稿的網格系統中，一個列寬是 60px */
  $gutter: 20px; /* 列與列之間的間隔寬度為 20px */

  /* PC版本 */
  /* max-width 960px = 60px*12 + 20px*11 + 10px*2(左右兩邊推gutter 的一半)*/
  max-width: $column-width * 12 + $gutter * 12; /* 共 960px */
  margin: 0 auto; /*垂直置中*/
  padding: 0 calc($gutter / 2); /*gutter的一半= 20/2 =10 px*/
}
