body {
  font-family: "Helvetica Neue", "PingFang TC", Times;
  line-height: 1.5;
}
a {
  text-decoration: none;
}

.login {
  @include desktop {
    padding: 60px 0;
  }
}
.content {
  max-width: 940px;
  margin: 0 auto;
}
.flex {
  display: flex;
  &-reverse {
    flex-direction: row-reverse;
  }
  &-col {
    flex-direction: column;
  }
  &-colreverse {
    flex-direction: column-reverse;
  }
}
.j {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: flex-end;
  }
}
.a {
  &-center {
    align-items: center;
    align-content: center;
  }
}
.mobile {
  @include desktop {
    display: none;
  }
}
.desktop-login {
  flex-grow: 1;
  @include desktop {
    flex-grow: 0;
    width: 390px;
  }
}
.bg {
  &-dark {
    background-color: $dark-green;
  }
  &-light {
    background-color: $bg-light;
  }
  &-yellow {
    background-color: $yellow;
  }
}
.login-menu {
  text-align: center;
  padding: 30px;
  h2 {
    color: #fff;
    font-size: 2.25rem;
    @include desktop {
      margin-top: 40px;
    }
  }
  @include desktop {
    padding: 16px 30px;
  }
}
.login-social {
  li {
    flex-grow: 1;
    height: 56px;
    padding-top: 20px;
    border: 1px solid $bg-light;
    text-align: center;
    background-color: #fff;
    img {
      width: 73px;
    }
  }
}
.login-account {
  gap: 16px;
  label {
    width: 100%;
    padding: 0 20px;
  }
  input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: $bg-light;
  }
  .login-remember {
    padding: 0;
    p {
      line-height: 1;
      color: #fff;
    }
  }
  @include desktop {
    padding: 20px 30px;
  }
}
.login-icon {
  margin: 16px 0;
  margin-right: 20px;
  color: $dark-green;
}
.login-checkbox {
  display: none;
  &:checked ~ .checkmark::before {
    display: none;
  }
}
.checkmark {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  i {
    color: $dark-green;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $bg-light;
  }
}
.submit-btn {
  display: block;
  font-size: 24px;
  color: $dark-green;
}
.desktop-social {
  display: none;
  padding: 40px 30px;
  text-align: center;
  h3 {
    margin-bottom: 36px;
    font-size: 24px;
    color: $text-green;
  }
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 390px;
  }
}
.line {
  display: inline-block;
  width: 2rem;
  height: 1px;
  vertical-align: middle;
  background-color: $text-green;
}
.desktop-socialmenu {
  gap: 16px;
  li {
    display: block;
    height: 56px;
    padding-top: 16px;
    background-color: #fff;
  }
  img {
    height: 24px;
  }
}
