.nav {
  margin: 0 auto;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 30px;
  }
  &__logo {
    width: 114.14px;
  }
  &__container div:nth-child(3) ul {
    display: none;
  }
  input {
    appearance: none;
  }
  input + ul {
    display: none;
  }
  input:checked ~ ul {
    display: block;
    position: absolute;
    gap: 1.5rem;
  }
  @include desktop {
    &__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      padding: 42px;
    }
    label {
      display: none;
    }
    &__container div:nth-child(3) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    &__container div:nth-child(3) ul {
      display: flex;
      justify-content: space-between;
      gap: 60px;
      margin-right: 80px;
      color: $dark-green;
      font-size: 1rem;
      a {
        font-weight: 600;
        color: $dark-green;
        text-decoration: none;
      }
    }
  }
}

.hero {
  margin: 0 auto;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__banner {
    width: 100%;
  }
  &__banner > img {
    width: 100%;
  }
  @include desktop {
    &__container {
      padding: 0 42px;
    }
  }
}

.menu {
  margin: 0 auto;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @include desktop {
      padding: 0 42px;
      flex-direction: row;
      gap: 1.5rem;
      align-items: start;
      margin-top: 30px;
    }
  }
  &__category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;

    @include desktop {
      flex: 1;
    }
  }
  &__container > div:nth-child(2) {
    @include desktop {
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap;
      flex: 3;
    }
  }
  &__category li:nth-child(1) {
    background-color: #3f5d45;
    color: #eaf0ed;
  }

  &__category li {
    color: #3f5d45;
    padding: 16px 0 16px 0;
    text-align: center;
  }
  &__focus {
    background-color: #eaf0ed;
  }
  &__cards {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
    @include desktop {
      flex-flow: row wrap;
      gap: 1.5rem;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 30px 0 30px;
    position: relative;
    @include desktop {
      width: calc(50% - 1.5rem / 2);
      padding: 0;
    }
  }

  &__cards li:nth-child(3) ~ li {
    display: none;
    @include desktop {
      display: flex;
    }
  }

  &__card::before {
    content: "本日精選";
    min-width: 2.4rem;
    min-height: 6.5rem;
    background-color: $dark-green;
    color: $white;
    font-size: 1rem;
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px;
    position: absolute;
    top: 30px;
    left: 51px;
    @include desktop {
      top: 0;
    }
  }
  &__card::after {
    content: url(/src/imgs/favorite_border.png);
    position: absolute;
    top: 50px;
    right: 54.2px;
    @include desktop {
      top: 20px;
    }
  }
  &__card > img {
    width: 100%;
  }
  &__info {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #3f5d45;
    border-left: 1px solid $bg-light;
    border-right: 1px solid $bg-light;
  }
  &__info p {
    margin: 14px;
    padding: 0 0 0 14px;
  }
  &__info h3 {
    margin: 14px;
  }
  &__info div {
    font-weight: 600;
    border-left: 1px solid $bg-light;
  }
  &__add {
    width: 100%;
    border: 0;
    font-size: 1.5rem;
    padding: 16px 0;
  }

  &__pages {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 30px;
    @include desktop {
      padding: 30px 0;
      justify-content: flex-end;
    }
  }
  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
    height: 3.75rem;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: $bg-light;
    font-size: 1.5rem;
    color: $dark-green;
  }
  &__pages li:nth-child(5) {
    border-right-width: 1px;
  }
}

.footer {
  margin: 0 auto;
  &__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__block-email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    background-color: #3f5d45;
    color: #eaf0ed;
  }
  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 20px;
  }
  &__type-area {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    height: 56px;
    position: relative;
  }

  &__type-area > div {
    width: 24px;
    height: 24px;
    background-color: #eaf0ed;
    position: absolute;
    top: 23px;
    left: 20px;
  }
  &__type-area > div > img {
    width: 100%;
    height: 100%;
  }
  &__type-area > input {
    width: 100%;
    height: 100%;
    padding-left: 65px;
    font-size: 1.5rem;
    border: none;
  }
  &__type-area > button {
    width: 64px;
    height: 56px;
    background-color: #ffe180;
    border: none;
    background-color: none;
    font-size: inherit;
    color: inherit;
  }
  &__type-area > button > img {
    width: 100%;
    height: 100%;
  }
  &__contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    background-color: #eaf0ed;
  }
  &__logo {
    width: 171.32px;
    height: 30px;
  }
  &__logo-circle {
    width: 40px;
    height: 40px;
  }

  &__logo ~ div {
    margin-top: 40px;
  }
  &__icons {
    display: flex;
    gap: 8px;
  }
  &__icon {
    width: 32px;
    height: 30px;
    color: #3f5d45;
  }
  &__text {
    font-size: 1rem;
    color: #3f5d45;
    line-height: 1.5;
    margin-top: 23px;
  }
}
