@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*colors*/
.nav {
  margin: 0 auto;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 30px;
}
.nav__logo {
  width: 114.14px;
}
.nav__container div:nth-child(3) ul {
  display: none;
}
.nav input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.nav input + ul {
  display: none;
}
.nav input:checked ~ ul {
  display: block;
  position: absolute;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 42px;
  }
  .nav label {
    display: none;
  }
  .nav__container div:nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav__container div:nth-child(3) ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 80px;
    color: #3f5d45;
    font-size: 1rem;
  }
}

.hero {
  margin: 0 auto;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero__banner {
  width: 100%;
}
.hero__banner > img {
  width: 100%;
}
@media (min-width: 768px) {
  .hero__container {
    padding: 0 42px;
  }
}

.menu {
  margin: 0 auto;
}
.menu__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .menu__container {
    padding: 0 42px;
  }
}
.menu__category {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}
.menu__category li:nth-child(1) {
  background-color: #3f5d45;
  color: #eaf0ed;
}
.menu__category li {
  color: #3f5d45;
  padding: 16px 0 16px 0;
  text-align: center;
}
.menu__focus {
  background-color: #eaf0ed;
}
.menu__cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.menu__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 30px 30px 0 30px;
  position: relative;
}
.menu__cards li:nth-child(3) ~ li {
  display: none;
}
.menu__card::before {
  content: "本日精選";
  min-width: 2.4rem;
  min-height: 6.5rem;
  background-color: #3f5d45;
  color: #fff;
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px;
  position: absolute;
  top: 30px;
  left: 51px;
}
.menu__card::after {
  content: url(/src/imgs/favorite_border.png);
  position: absolute;
  top: 50px;
  right: 54.2px;
}
.menu__card > img {
  width: 100%;
}
.menu__info {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #3f5d45;
  padding: 14px 0;
  border-left: 1px solid #eaf0ed;
  border-right: 1px solid #eaf0ed;
}
.menu__info > div {
  font-weight: 600;
}
.menu__add {
  width: 100%;
  border: 0;
  font-size: 1.5rem;
  padding: 16px 0;
}
.menu__pages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.menu__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #eaf0ed;
  font-size: 1.5rem;
  color: #3f5d45;
}
.menu__pages li:nth-child(5) {
  border-right-width: 1px;
}

.footer {
  margin: 0 auto;
}
.footer__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__block-email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  background-color: #3f5d45;
  color: #eaf0ed;
}
.footer__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 20px;
}
.footer__type-area {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  height: 56px;
  position: relative;
}
.footer__type-area > div {
  width: 24px;
  height: 24px;
  background-color: #eaf0ed;
  position: absolute;
  top: 23px;
  left: 20px;
}
.footer__type-area > div > img {
  width: 100%;
  height: 100%;
}
.footer__type-area > input {
  width: 100%;
  height: 100%;
  padding-left: 65px;
  font-size: 1.5rem;
  border: none;
}
.footer__type-area > button {
  width: 64px;
  height: 56px;
  background-color: #ffe180;
  border: none;
  background-color: none;
  font-size: inherit;
  color: inherit;
}
.footer__type-area > button > img {
  width: 100%;
  height: 100%;
}
.footer__contact {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
  background-color: #eaf0ed;
}
.footer__logo {
  width: 171.32px;
  height: 30px;
}
.footer__logo-circle {
  width: 40px;
  height: 40px;
}
.footer__logo ~ div {
  margin-top: 40px;
}
.footer__icons {
  display: flex;
  gap: 8px;
}
.footer__icon {
  width: 32px;
  height: 30px;
  color: #3f5d45;
}
.footer__text {
  font-size: 1rem;
  color: #3f5d45;
  line-height: 1.5;
  margin-top: 23px;
}/*# sourceMappingURL=all.css.map */